<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/headerCss.css">
<link rel="stylesheet" href="/css/addProductMain.css">
<link rel="stylesheet" href="/css/shopCss.css">
<link rel="stylesheet" href="/css/common.css">
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <% if(errorMessage.length > 0) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
        <form class="product-form" action="/login"  method="post" novalidate>
          <div class="form-control">
            <label for="email">E-mail</label>
            <input type="email"
            class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid-border' : '' %>"
            name="email" id="email" value="<%= oldInput.email %>"  >
          </div>
          <div class="form-control">
            <label for="password">Password</label>
            <input type="password"
            class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid-border' : '' %>"
            name="password" id="password" value="<%= oldInput.password %>"  >
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" class="btn"><span>Login</span></button>
        </form>
        <div class="anchorLink"> 
          <a href="/reset" class="anchorLink <%= path=== '/orders' ? 'active' : '' %>">Reset Password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>