<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/headerCss.css">
<link rel="stylesheet" href="/css/addProductMain.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/shopCss.css">
<body>
    <%- include('../includes/navigation.ejs') %>

    <main><% if(errorMessage.length > 0) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
        <form class="product-form" action="/admin/<% if(edit=='true') {%>edit-product <% } else { %>product<% } %>" method="post"  enctype="multipart/form-data">
          <div class="form-control">
            <label for="title">Title</label>
            <input type="text" 
            class="<%= validationErrors.find(e => e.path === 'title') ? 'invalid-border' : '' %>"
            name="title" id="title" value="<% if(edit == 'true' || hasError == true) { %> <%= product.title %> <% } %>">
          </div>
          <div class="form-control">
            <label for="image">Image</label>
            <input type="file" 
            name="image" id="image">
          </div>
          <div class="form-control">
            <label for="price">Price</label>
            <input type= "number"
            class="<%= validationErrors.find(e => e.path === 'price') ? 'invalid-border' : '' %>"
            name="price" id="price" value="<% if(edit == 'true' || hasError == true) { %><%=product.price%><% } %>" >
          </div>
          <div class="form-control">
            <label for="descriptioin">Descriptioin</label>
            <textarea name="descriptioin"
            class="<%= validationErrors.find(e => e.path === 'descriptioin') ? 'invalid-border' : '' %>"
            id="descriptioin" rows="5" ><% if(edit == 'true' || hasError == true) { %> <%= product.description %> <% } %></textarea>
          </div>
            <button type="submit" class="btn"><span> <% if(edit=='true') {%> Update Product <% } else { %> Add Product <% } %>
            </span>
            </button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <% if(edit == 'true') { %>
              <input type="hidden" value="<%= product._id %>" name="productId">
              <% }%>
        </form>
    </main>
<%- include('../includes/end.ejs') %>