<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/headerCss.css">
<link rel="stylesheet" href="/css/product-detail.css">
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="txtCenter">
        <h1><%= product.title %></h1>
        <hr>
        <div class="imgContainer">
            <img src="<%= product.imageUrl %>" alt=" <%= product.title %>">
        </div>
        <h2>₹<%= product.price %></h2>
        <p><%= product.description %></p>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>
<%- include('../includes/end.ejs') %>